.responsive-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  padding-top: 102px;
  bottom: 0;
  z-index: 2;
  background-color: var(--cream-color);
  padding: 120px 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}
.responsive-menu__item {
  margin-bottom: 15px;
}