@import "fonts.scss";
@import "color.scss";
@import "commonStyle.scss";
@import "header.scss";

.header__logo{
    margin-right: auto;
}

.collection{
    @include section-padding;
    &__heading{
        text-align: center;
        @include heading-margin;
    }
}

.catalog-list{
    @include list-cards;
&__item{
    @include list-item;
}
&__item::after, &__item::before{
    @include cards;
}
&__item::after{
    background-image: url("../img/item-bottom.svg");
}
&__item::before{
    background-image: url("../img/item-top.svg");
}
&__wrapper{
    @include img-wrapper;
}
&__img{
    height: 211px;
    border-radius: 3px;
}
&__description{
    @include list-description;
}
&__price{
    @include list-price;
}
&__button{
    font-size: 12px;
    padding: 15px 20px;
}
}