.footer{
    padding-top: 76px;
    padding-bottom: 69px;
    &__container{
        display: flex;
    }
    &-logo{
        margin-right: auto;
    }
    .footer-info{
        display: flex;

        &__card:not(:last-child){
            margin-right: 80px;
        }
        &__heading{
            font-size: 10px;
            font-weight: 700;
            line-height: 12px;
            color: $white-color;
            text-transform: uppercase;
            margin-bottom: 24px;
        }
        &__item{
            margin-bottom: 10px;
        }
        &__link{
            position: relative;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #CBCFD4;
        }
        &__network{
            position: absolute;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
        }
        &__vk{
            background-image: url('../img/vk.svg');
            right: 47px;
            top: 3px; 
        }
        &__facebook{
            background-image: url('../img/facebook.svg');
            right: 60px;
            top: 1px;
        }
        &__instagram{
            background-image: url('../img/instagram.svg');
            right: 64px;
        }
    }
}
