@media(max-width: 1200px) {
    .header{
        &__logo{
            margin: 0 auto;
        }
    }
    .nav{
        display: none;
    }
    .burger{
        display: block;
        position: absolute;
        z-index: 3;
        top: 39px;
        padding-left: 15px;
    }
    .section-sale{
        &__container{
            max-width: 100%;
            flex-direction: column;      
        }
        &__left{
            text-align: center;
            margin-bottom: 50px;
        }
        &__span{
            font-size: 35px;
        }
        &__heading{
            font-size: 68px;
        }
        &__discount{
            font-size: 38px;
        }
    }
    .article{
        background-size: contain;
        background-position: center;
        min-height: 300px;
        align-self: center;
    }
    .modal-list{
        flex-wrap: wrap;
    }
    .section-collection__list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__container{
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 1030px) {
    .responsive-menu.is-active+.burger {
        position: fixed;
    }
    .collection-list__item:nth-child(1) {
        margin-bottom: 60px;
    }
    .footer-logo{
        margin-right: unset;
        margin: 0 auto 25px auto;
    }
}

@media (max-width: 720px) {
    .section-sale__span{
        font-size: 20px;
    }
    .section-sale__heading{
        font-size: 38px;
    }
    .footer{
        &__container{
            flex-direction: column;
            align-items: center;
        }
        &-logo{
            margin: unset;
            margin-bottom: 30px;
        }
        .footer-info{
            flex-wrap: wrap;
            justify-content: center;
            align-self: stretch;

            &__card{
                flex: 1 0 150px;
                text-align: center;
                margin-right: unset;
            }
            &__card:not(:last-child) {
                margin-right: unset;
                margin-bottom: 20px;
            }
        }
    }
    .section-copyright__rights{
        margin-bottom: 10px;
    }
}

@media(max-width: 550px){
    .btn{
        font-size: 12px;
    }
    .article__s-price{
        font-size: 20px;
    }
    .article__price{
        font-size: 25px;
    }
    .section-sale__span{
        font-size: 15px;
    }
    .section-sale__heading{
        font-size: 20px;
    }
    .footer{
        
        .footer-info{
            &__heading{
                font-size: 13px;
            }
        }
    }
    .section-copyright__container{
        flex-direction: column;
        align-items: center;
    }
    .responsive-menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-collection__list .collection-list{
        &__item{
            background-size: 40%;
        }
        &__heading{
            font-size: 18px;
        }
        &__description{
            font-size: 15px;
        }
    }
}